*{
    margin: 0;
    padding: 0;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 50vh;
    background-color: #000;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px #000;
}

.container-items{
    position: absolute;
    display: flex;
    width: 70vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;

}

.item{
    width: 70vw;
    height: 50vh;
    transition: all 1s;
}

.item:first-child{
    margin-left: -100%;
}

.item img{
    width: 70vw;
    height: 50vh;
    border-radius: 10px;
    object-fit:cover;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: rgba(0, 0, 0, 0);
    user-select: none;
    z-index: 99;
    border-radius: 10px 10px 10px 10px ;
}

.action-button span{
    color: #00000040;
}

.action-button:hover span{
    color: #fff;
}

.action-button:hover{
    background-color: #00000055;
    cursor: pointer;
    transition: all ease 0.5s;
}

.action-button:hover:nth-child(1){
    border-radius: 10px 0 0 10px;
}

.action-button:hover:nth-child(3){
    border-radius: 0 10px 10px 0;
}