*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ccc;
}

.header{
    height: 70px;
    background-color: #ff0000;
}

.slider{
    flex: 1;
    overflow: hidden;
}

.sliderWidth{
    height: 100%;
    display: flex;
    transition: all ease .3s;
}

.sliderItem{
    width: 100vw;
    height: inherit;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 1px 1px #333;
    font-size: 50px;
    z-index: 98;
}

.sliderItem span{
    padding: 60px;
    text-align: center;
}

.sliderControls{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sliderControl{
    z-index: 99;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    padding: 15px;
}

.sliderControl:hover{
    color: rgb(211, 211, 211);
}